<div class="container">
  <h1 class="page-header">Profile:</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <%if @user.avatar.blank?%>
          <img src="https://secure.gravatar.com/avatar/8a6ef5c647bf53379e03febdac627d84?s=96&d=mm&r=g" class="avatar img-circle img-thumbnail" alt="avatar">
       <%else%>
       <div class = "avatar">
          <%= image_tag(@user.avatar.url, alt: "Avatar")%>
        </div>
      <%end%>
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">User name:</label>
            <%= @user.username %>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
               <%= @user.email %>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Birthday:</label>
               <%= @user.birthday %>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Phone:</label>
               <%= @user.phone %>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Address:</label>
               <%= @user.address %>
        </div>
        <div class = "edit-details">
          <%= link_to  "Back", root_path, class: "btn btn-danger" %>
          <%= link_to  "Edit", edit_user_path(current_user), class: "btn btn-primary" %>
        </div>
      </form>
    </div>
  </div>
</div>